<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- The following permissions are required to read Android Automotive vehicle properties -->
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_SETTINGS" />
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <uses-permission android:name="android.car.permission.CAR_NAVIGATION_MANAGER" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS" />
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_ENVIRONMENT" />
    <uses-permission android:name="android.car.permission.CAR_IDENTIFICATION" />
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.READ_CAR_POWER_POLICY" />
    <uses-permission android:name="android.car.permission.READ_CAR_DISPLAY_UNITS" />
    <uses-permission android:name="android.car.permission.READ_CAR_INTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.READ_CAR_STEERING" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_DYNAMICS_STATE" />
    <uses-permission android:name="android.car.permission.CAR_TIRES" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_MIRRORS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_SEATS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_DOORS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_WINDOWS" />
    <uses-permission android:name="android.car.permission.CAR_POWER" />
    <uses-permission android:name="android.car.permission.CAR_MILEAGE" />
    <uses-permission android:name="android.car.permission.CAR_ENGINE_DETAILED" />
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.CAR_DIAGNOSTICS" />
    <uses-permission android:name="android.car.permission.CAR_DRIVING_STATE" />
    <uses-permission android:name="android.car.permission.READ_CAR_OCCUPANT_AWARENESS_STATE" />
    <uses-permission android:name="android.car.permission.CAR_MONITOR_INPUT" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_EXTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_INTERIOR_LIGHTS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AWSIoTFleetWiseEdge"
        tools:targetApi="31"
        android:name="FweApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="fleetwise-app.automotive.iot.aws.dev"
                    android:pathPattern="/config*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="@string/bluetooth_device_list" />
        <activity
            android:name=".ConfigureVehicleActivity"
            android:label="@string/configure_vehicle" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" />
    </application>
</manifest>
